body {text-align: center; font-family: sans-serif; width: 100%;
      max-width: 350px; height: 100%; margin: auto; background: lightblue;}
h1 {margin: 0px 0px 0px 33px;}
div {width: 100%;}
div.mouse {display: flex; flex-direction: column;}
div.mousearea {flex-grow: 1; flex-shrink: 1; height: 70vh; border: 1px solid black; background: radial-gradient(white, lightblue);}
div.controls {flex-grow: 0; flex-shrink: 0; margin-bottom: 12px;}
div.vspace {height: 50px; vertical-align: top;}
div.extkbd {display: grid; grid-template-columns: repeat(5, 1fr); visibility: hidden; row-gap: 4px; column-gap: 4px;}
.extkbd button {height: 32px;}
button.l {width: 40%; height:64px;}
button.r {width: 40%; height:64px;}
button.blank {background: transparent; border: none;}
input.kbd {width: 5%; margin: 12px; text-align: center;}
.config {display: grid; grid-template-columns: 3fr 3fr 1fr; row-gap: 8px;}
.config label {width: 100px; display: inline-block; text-align: left;}
.config input {width: 192px;}
.config select {width: 200px;}
span.led {float: right; margin-right: 8px; margin-top: 8px; width: 25px; height: 25px; z-index: 10;}
svg {pointer-events: none;}


