body {text-align: center; font-family: sans-serif; width: 100%;
      max-width: 350px; height: 100%; margin: auto; background: lightblue;}
h1 {margin: 0px;}
div {width: 100%;}
div.mouse {display: flex; flex-direction: column;}
div.mousearea {flex-grow: 1; flex-shrink: 1; height: 70vh; border: 1px solid black; background: radial-gradient(white, lightblue);}
div.controls {flex-grow: 0; flex-shrink: 0;}
div.vspace {height: 32px;}
div.extkbd {display: grid; grid-template-columns: repeat(5, 1fr); margin-top: 12px; margin-bottom: 50px; visibility: hidden;}
button.l {width: 40%; height:64px; align:left}
button.r {width: 40%; height:64px; align:right}
button.blank {background: transparent; border: none;}
input.kbd {width: 5%; margin: 12px; text-align: center;}
.config {display: grid; grid-template-columns: 3fr 3fr 1fr; row-gap: 8px;}
.config label {width: 100px; display: inline-block; text-align: left;}
.config input {width: 192px;}
.config select {width: 200px;}

